* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 1440px;
	margin: 0 auto;
}

body {
	font-family: 'Farro', sans-serif;
	font-family: 'Francois One', sans-serif;
	font-family: 'PT Sans', sans-serif;
	font-family: 'Staatliches', cursive;
	font-family: 'Tourney', cursive;
}

header {
	display: flex;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 83px;
}

header p:nth-child(1) {
	font-family: 'Tourney';
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 0.04em;
}

header p:nth-child(2) {
	font-family: 'Staatliches';
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.03em;
}

header img {
	width: 238px;
	height: 54px;
	margin-left: 750px;
}

h2 {
	font-family: 'Francois One';
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	margin-bottom: 40px;
}

h2>span {
	font-family: 'Farro';
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.04em;
	vertical-align: top;
}

section p {
	width: 1200px;
	font-family: 'PT Sans';
	font-weight: 400;
	font-size: 28px;
	line-height: 48px;
	margin: 0;
	margin-bottom: 40px;
}

.under {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bolder;
}

.bg {
	background-color: lightgray;
	padding-top: 3px;
	padding-bottom: 3px;
}